AddType text/css .css

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
}

#monsterInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.monster-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.monster-result ul {
    list-style-type: none;
    padding: 0;
}

.monster-result li {
    padding: 5px 0;
}

.monster-result span {
    font-weight: bold;
}

#monsterResult {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    /*Tem que lembrar que esse overflow permite que rolle para baixo, então sempre quiser use isso */
    overflow-y: auto;
    background-color: #fff;
    /* Como estamos utilizando o LI, para remover aqueles pontos que fica lá, podemos utilizar isso aqui*/
    list-style-type: none;
    padding: 0;
  }
  
  #monsterResult li {
    padding: 10px;
    /*Basicamente muda o cursos quando passa por cima */
    cursor: pointer;
  }
  
  #monsterResult li:hover {
    /* Hover funciona junto com o pointer, pois ele muda a forma que é visualizada o elemento quando passa por cima*/
    background-color: #f5f5f5;
  }